# Imports

In [1]:
import pandas as pd
import mysql.connector
from mysql.connector import Error
import os
from dotenv import load_dotenv
import numpy as np
import functools
from difflib import SequenceMatcher

In [2]:
load_dotenv()

True

In [3]:
DATABASE_PASSWORD=os.getenv("DATABASE_PASSWORD")
MYSQL_USER=os.getenv("MYSQL_USER")
DATABASE_NAME=os.getenv("DATABASE_NAME")

# Utils

In [4]:
def check_connection(database_name=None):
    """D√©corateur qui v√©rifie si la connexion MySQL est active et peut changer de base de donn√©es

    Args:
        database_name (str, optional): Nom de la base de donn√©es √† utiliser.
    """
    def decorator(fonction):
        @functools.wraps(fonction)
        def wrapper(*args, **kwargs):
            # R√©cup√©ration de l'objet connexion
            if args:  
                connection = args[0]
            elif "connection" in kwargs:  
                connection = kwargs["connection"]
            else:
                raise ValueError("L'argument 'connection' est requis")

            # V√©rifier si la connexion est active
            if not connection.is_connected():
                print("üîÑ Connexion ferm√©e. Tentative de reconnexion...")
                try:
                    connection.reconnect()
                    print("‚úÖ Connexion r√©tablie.")
                except mysql.connector.Error as err:
                    raise ConnectionError(f"Impossible de se reconnecter : {err}")

            # Changer la base de donn√©es si n√©cessaire
            if database_name and connection.database != database_name:
                try:
                    print(f"üîÑ Changement de base de donn√©es vers {database_name}")
                    connection.database = database_name
                except mysql.connector.Error as err:
                    raise ConnectionError(f"Impossible de changer de base de donn√©es : {err}")

            return fonction(*args, **kwargs)

        return wrapper

    return decorator

In [5]:
def get_closest_name(target_name, names):
    """Retourne le nom le plus proche de target_name dans la liste names (via distance de Levenshtein normalis√©e)

    Args:
        target_name (str): Le nom √† comparer
        names (list): La liste des noms √† comparer
    
    Returns:
        str: Le nom le plus proche de target_name
    """
    ratios = np.array([SequenceMatcher(None, name, target_name).ratio() for name in names])
    match = names[np.argmax(ratios)]

    return match

# Donn√©es en CSV

In [6]:
df = pd.read_csv("personnes.csv")

df

      personnes           caracteres
0  John Hammond  vieux, milliardaire
1  Ellie Satler  jeune, scientifique
2    Alan Grant  vieux, scientifique
3   Ian Malcolm  jeune, scientifique

# Cr√©ation base de donn√©es et tables

In [7]:
def create_connection(**kwargs):
    """Cr√©e une connexion √† la base de donn√©es MySQL"""
    try:
        connection = mysql.connector.connect(
            host=kwargs['host'],
            user=kwargs['user'],
            password=kwargs['password'],
            database=kwargs['database']
        )
        return connection
    except Error as e:
        print(f"Erreur lors de la connexion √† MySQL: {e}")
        return None

In [8]:
params_conn = {"host": "localhost", "user": MYSQL_USER, "password": DATABASE_PASSWORD, "database": ""}

In [9]:
conn = create_connection(**params_conn)

In [10]:
conn.is_connected()

True

In [11]:
@check_connection()
def create_database(connection, db_name):
    """Cr√©e une base de donn√©es

    Args:
        connection (mysql.connector.connection.MySQLConnection): La connexion MySQL
        db_name (str): Le nom de la base de donn√©es

    Returns:
        None
    """
    
    cursor = connection.cursor(buffered=True)
    try:
        cursor.execute(f"CREATE DATABASE IF NOT EXISTS {db_name}")
        print(f"Base de donn√©es {db_name} cr√©√©e avec succ√®s")
        connection.database = db_name
    except Error as e:
        print(f"Erreur lors de la cr√©ation de la base de donn√©es: {e}")
    finally:
        cursor.close()

In [12]:
@check_connection(database_name=DATABASE_NAME)
def execute_query(connection, query):
    """Ex√©cute une requ√™te SQL Simple

    Args:
        connection (mysql.connector.connection.MySQLConnection): La connexion MySQL
        query (str): La requ√™te SQL √† ex√©cuter

    Returns:
        None
    
    """
    
    cursor = connection.cursor(buffered=True)
    try:
        cursor.execute(query)
        connection.commit()
        print("Requ√™te ex√©cut√©e avec succ√®s")
    except Error as e:
        print(f"Erreur lors de l'ex√©cution de la requ√™te: {e}")
    finally:
        cursor.close()

In [13]:
create_database(conn, "personnes")

Base de donn√©es personnes cr√©√©e avec succ√®s

In [14]:
@check_connection(database_name=DATABASE_NAME)
def create_tables(connection):
    """Cr√©e les tables n√©cessaires"""
    assert connection.is_connected() , "La connexion √† la base de donn√©es est ferm√©e"

    # Table personnes
    create_personnes_table = """
    CREATE TABLE IF NOT EXISTS personnes (
        id INT AUTO_INCREMENT PRIMARY KEY,
        nom VARCHAR(100) NOT NULL UNIQUE
    );
    """
    
    # Table caract√©ristiques
    create_caracteristiques_table = """
    CREATE TABLE IF NOT EXISTS caracteristiques (
        id INT AUTO_INCREMENT PRIMARY KEY,
        nom VARCHAR(100) NOT NULL UNIQUE
    );
    """
    
    # Table de jonction
    create_junction_table = """
    CREATE TABLE IF NOT EXISTS personnes_caracteristiques (
        personne_id INT,
        caracteristique_id INT,
        PRIMARY KEY (personne_id, caracteristique_id),
        FOREIGN KEY (personne_id) REFERENCES personnes(id),
        FOREIGN KEY (caracteristique_id) REFERENCES caracteristiques(id)
    );
    """
    
    execute_query(connection, create_personnes_table)
    execute_query(connection, create_caracteristiques_table)
    execute_query(connection, create_junction_table)

In [15]:
create_tables(conn)

Requ√™te ex√©cut√©e avec succ√®s
Requ√™te ex√©cut√©e avec succ√®s
Requ√™te ex√©cut√©e avec succ√®s

In [16]:
conn.is_connected()

True

# Insertion des donn√©es

In [17]:
@check_connection(database_name=DATABASE_NAME)
def insert_person(connection, nom):
    """Ins√®re une personne dans la table personnes

    Args:
        connection (mysql.connector.connection.MySQLConnection): La connexion MySQL
        nom (str): Le nom de la personne

    Returns:
        L'id de la personne ins√©r√©e

    """
    
    cursor = connection.cursor()
    try:
        cursor.execute("INSERT IGNORE INTO personnes (nom) VALUES (%s)", (nom,))
        connection.commit()
        return cursor.lastrowid
    except Error as e:
        print(f"Erreur lors de l'insertion de la personne: {e}")
        return None
    finally:
        cursor.close()

In [18]:
@check_connection(database_name=DATABASE_NAME)
def get_person_id(connection, nom):
    """R√©cup√®re l'ID d'une personne

    Args:
        connection (mysql.connector.connection.MySQLConnection): La connexion MySQL
        nom (str): Le nom de la personne

    Returns:
        L'id de la personne
    """
    
    cursor = connection.cursor()
    try:
        cursor.execute("SELECT id FROM personnes WHERE nom = %s", (nom,))
        result = cursor.fetchone()
        return result[0] if result else None
    except Error as e:
        print(f"Erreur lors de la r√©cup√©ration de l'ID de la personne: {e}")
        return None
    finally:
        cursor.close()

In [19]:
@check_connection(database_name=DATABASE_NAME)
def insert_caracteristique(connection, nom):
    """Ins√®re une caract√©ristique dans la table caract√©ristiques

    Args:
        connection (mysql.connector.connection.MySQLConnection): La connexion MySQL
        nom (str): Le nom de la caract√©ristique

    Returns:
        L'id de la caract√©ristique ins√©r√©e
    """
    
    cursor = connection.cursor()
    try:
        cursor.execute("INSERT IGNORE INTO caracteristiques (nom) VALUES (%s)", (nom,))
        connection.commit()
        return cursor.lastrowid
    except Error as e:
        print(f"Erreur lors de l'insertion de la caract√©ristique: {e}")
        return None
    finally:
        cursor.close()

In [20]:
@check_connection(database_name=DATABASE_NAME)
def get_caracteristique_id(connection, nom):
    """R√©cup√®re l'ID d'une caract√©ristique

    Args:
        connection (mysql.connector.connection.MySQLConnection): La connexion MySQL
        nom (str): Le nom de la caract√©ristique

    Returns:
        L'id de la caract√©ristique
    """
    
    cursor = connection.cursor()
    try:
        cursor.execute("SELECT id FROM caracteristiques WHERE nom = %s", (nom,))
        result = cursor.fetchone()
        return result[0] if result else None
    except Error as e:
        print(f"Erreur lors de la r√©cup√©ration de l'ID de la caract√©ristique: {e}")
        return None
    finally:
        cursor.close()

In [21]:
@check_connection(database_name=DATABASE_NAME)
def link_person_to_caracteristique(connection, personne_id, caracteristique_id):
    """Lie une personne √† une caract√©ristique
    
    Args:
        connection (mysql.connector.connection.MySQLConnection): La connexion MySQL
        personne_id (int): L'id de la personne
        caracteristique_id (int): L'id de la caract√©ristique
    
    Returns:
        None
    """
    
    cursor = connection.cursor()
    try:
        cursor.execute(
            "INSERT IGNORE INTO personnes_caracteristiques (personne_id, caracteristique_id) VALUES (%s, %s)",
            (personne_id, caracteristique_id)
        )
        connection.commit()
    except Error as e:
        print(f"Erreur lors de la liaison personne-caract√©ristique: {e}")
    finally:
        cursor.close()

In [22]:
conn.is_connected()

True

## Insertion effective

In [23]:
# Parcourir chaque ligne du DataFrame
for _, row in df.iterrows():
    personne = row['personnes']
    
    # Ins√©rer la personne
    insert_person(conn, personne)
    personne_id = get_person_id(conn, personne)
    
    # Traiter les caract√©ristiques
    caracteristiques_list = row['caracteres'].split(',')
    for caracteristique in caracteristiques_list:
        caracteristique = caracteristique.strip().strip('"')
        
        # Ins√©rer la caract√©ristique
        insert_caracteristique(conn, caracteristique)
        caracteristique_id = get_caracteristique_id(conn, caracteristique)
        
        # Lier la personne √† la caract√©ristique
        if personne_id and caracteristique_id:
            link_person_to_caracteristique(conn, personne_id, caracteristique_id)

# Requ√™tes de test

In [24]:
params_conn = {"host": "localhost", "user": MYSQL_USER, "password": DATABASE_PASSWORD, "database": DATABASE_NAME}

In [25]:
conn = create_connection(**params_conn)

In [26]:
conn.is_connected()

True

In [27]:
conn.database

'personnes'

## Requ√™te Read simple (avec Pandas)

In [28]:
@check_connection(database_name=DATABASE_NAME)
def read_sql_(connection, query):
    """Ex√©cute une requ√™te SELECT et retourne les r√©sultats sous forme de DataFrame Pandas

    Args:
        connection (mysql.connector.connection.MySQLConnection): La connexion MySQL
        query (str): La requ√™te SELECT

    Returns:
        pd.DataFrame: Les r√©sultats de la requ√™te
    """
    
    return pd.read_sql(query, connection)

In [29]:
conn.is_connected()

True

In [30]:
conn.close()

In [31]:
conn.is_connected()

False

In [32]:
df = read_sql_(conn, "SELECT * FROM personnes")

üîÑ Connexion ferm√©e. Tentative de reconnexion...
‚úÖ Connexion r√©tablie.

/var/folders/fj/crd4vf5s1h74s1h2w_9m3x6r0000gn/T/ipykernel_47512/908817662.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(query, connection)

In [33]:
df

   id           nom
0   3    Alan Grant
1   2  Ellie Satler
2   4   Ian Malcolm
3   1  John Hammond

## R√©cup√©rer les personnes ayant une caract√©ristique - Read

In [34]:
@check_connection(database_name=DATABASE_NAME)
def trouver_personnes_par_caracteristique(connection, caracteristique):
    """
    R√©cup√®re toutes les personnes ayant une caract√©ristique sp√©cifique
    
    Args:
        connection: La connexion √† la base de donn√©es
        caracteristique: Le nom de la caract√©ristique recherch√©e
        
    Returns:
        Une liste des noms de personnes ayant cette caract√©ristique
    """
    cursor = connection.cursor()
    try:
        query = """
        SELECT personnes.nom
        FROM personnes
        JOIN personnes_caracteristiques ON personnes.id = personnes_caracteristiques.personne_id
        JOIN caracteristiques ON personnes_caracteristiques.caracteristique_id = caracteristiques.id
        WHERE caracteristiques.nom = %s
        """
        cursor.execute(query, (caracteristique,))
        resultats = cursor.fetchall()
        resultats = [resultat[0] for resultat in resultats]

        if len(resultats) == 0:
            query="SELECT nom FROM caracteristiques WHERE nom=%s"
            cursor.execute(query, (caracteristique,))
            resultat_caracteristiques = cursor.fetchall()
            if not resultat_caracteristiques:
                print("La caract√©ristique n'a pas √©t√© trouv√©e...")
                query="SELECT nom FROM caracteristiques"
                cursor.execute(query)
                toutes_caracteristiques = cursor.fetchall()

                caracteristique_la_plus_proche = get_closest_name(caracteristique, [caracteristique[0] for caracteristique in toutes_caracteristiques])
                print("La caract√©ristique la plus proche est : ", caracteristique_la_plus_proche)
                return False
            else:
                print(f"Aucune personne trouv√©e pour la caract√©ristique {caracteristique}")
                return []


        return resultats
    except Error as e:
        print(f"Erreur lors de la recherche des personnes par caract√©ristique: {e}")
        return []
    finally:
        cursor.close()

In [37]:
trouver_personnes_par_caracteristique(conn, "vieux")

['John Hammond', 'Alan Grant']

## R√©cup√©rer les caract√©ristiques d'une personne - Read

In [35]:
@check_connection(database_name=DATABASE_NAME)
def trouver_caracteristiques_par_personne(connection, nom_personne):
    """
    R√©cup√®re toutes les caract√©ristiques d'une personne sp√©cifique
    
    Args:
        connection: La connexion √† la base de donn√©es
        nom_personne:str Le nom de la personne recherch√©e
        
    Returns:
        Une liste des caract√©ristiques de cette personne
    """
    cursor = connection.cursor()
    try:
        query = """
        SELECT caracteristiques.nom 
        FROM caracteristiques
        JOIN personnes_caracteristiques ON caracteristiques.id = personnes_caracteristiques.caracteristique_id
        JOIN personnes ON personnes_caracteristiques.personne_id = personnes.id
        WHERE personnes.nom = %s
        """
        cursor.execute(query, (nom_personne,))
        resultats = cursor.fetchall()
        resultats = [resultat[0] for resultat in resultats]

        if len(resultats) == 0:
            query="SELECT nom FROM personnes WHERE nom=%s"
            cursor.execute(query, (nom_personne,))
            resultat_personne = cursor.fetchall()
            if not resultat_personne:
                print("La personne n'a pas √©t√© trouv√©e...")
                query="SELECT nom FROM personnes"
                cursor.execute(query)
                toutes_personnes = cursor.fetchall()

                personne_la_plus_proche = get_closest_name(nom_personne, [personne[0] for personne in toutes_personnes])
                print("La personne la plus proche est : ", personne_la_plus_proche)
                return False
            else:
                print(f"Aucune caract√©ristique trouv√©e pour {nom_personne}")
                return []
            
        return resultats
    except Error as e:
        print(f"Erreur lors de la recherche des caract√©ristiques par personne: {e}")
        return []
    finally:
        cursor.close()

In [36]:
trouver_caracteristiques_par_personne(conn, "Ian Malcol")

La personne n'a pas √©t√© trouv√©e...
La personne la plus proche est :  Ian Malcolm

False

## Rajouter une personne avec une caract√©ristique - Create

In [38]:
@check_connection(database_name=DATABASE_NAME)
def ajouter_personne_avec_caracteristiques(connection, nom_personne, liste_caracteristiques):
    """
    Ajoute une nouvelle personne et l'associe √† des caract√©ristiques (nouvelles ou existantes)
    
    Args:
        connection: La connexion √† la base de donn√©es
        nom_personne: Le nom de la nouvelle personne √† ajouter
        liste_caracteristiques: Liste des caract√©ristiques √† associer √† la personne
        
    Returns:
        bool: True si l'op√©ration a r√©ussi, False sinon
    """
    try:
        # S√©lectionner la base de donn√©es si ce n'est pas d√©j√† fait
        if not connection.database:
            connection.database = "personnes"
        
        # Ajouter la nouvelle personne
        insert_person(connection, nom_personne)
        personne_id = get_person_id(connection, nom_personne)
        
        if not personne_id:
            print(f"Erreur lors de l'ajout de la personne '{nom_personne}'.")
            return False
        
        # Pour chaque caract√©ristique
        for caracteristique in liste_caracteristiques:
            # V√©rifier si la caract√©ristique existe d√©j√†
            caracteristique_id = get_caracteristique_id(connection, caracteristique)
            
            # Si elle n'existe pas, l'ajouter
            if not caracteristique_id:
                insert_caracteristique(connection, caracteristique)
                caracteristique_id = get_caracteristique_id(connection, caracteristique)
                if not caracteristique_id:
                    print(f"Erreur lors de l'ajout de la caract√©ristique '{caracteristique}'.")
                    continue
            
            # Cr√©er le lien entre la personne et la caract√©ristique
            link_person_to_caracteristique(connection, personne_id, caracteristique_id)
        
        print(f"La personne '{nom_personne}' a √©t√© ajout√©e avec ses caract√©ristiques avec succ√®s!")
        return True
        
    except Error as e:
        print(f"Erreur lors de l'ajout de la personne avec caract√©ristiques: {e}")
        return False

In [39]:
conn.is_connected()

True

In [40]:
ajouter_personne_avec_caracteristiques(conn, "Donald Gennaro", ["vieux", "avocat"])

La personne 'Donald Gennaro' a √©t√© ajout√©e avec ses caract√©ristiques avec succ√®s!

True

## Modifier les caract√©ristiques d'une personne - Update

In [41]:
@check_connection(database_name=DATABASE_NAME)
def modifier_caracteristiques_personne(connection, nom_personne, ajouter_caracteristiques=None, supprimer_caracteristiques=None):
    """
    Modifie les caract√©ristiques d'une personne existante dans la base de donn√©es
    
    Args:
        connection: La connexion √† la base de donn√©es
        nom_personne: Le nom de la personne √† modifier
        ajouter_caracteristiques: Liste des caract√©ristiques √† ajouter (None si aucune)
        supprimer_caracteristiques: Liste des caract√©ristiques √† supprimer (None si aucune)
        
    Returns:
        bool: True si l'op√©ration a r√©ussi, False sinon
    """
    try:
        # S√©lectionner la base de donn√©es si ce n'est pas d√©j√† fait
        if not connection.database:
            connection.database = "personnes"
        
        # V√©rifier si la personne existe
        personne_id = get_person_id(connection, nom_personne)
        if not personne_id:
            print(f"La personne '{nom_personne}' n'existe pas dans la base de donn√©es.")
            return False
        
        # Supprimer des caract√©ristiques si demand√© avec le param√®tre bool√©en
        if supprimer_caracteristiques:
            for caracteristique in supprimer_caracteristiques:
                caracteristique_id = get_caracteristique_id(connection, caracteristique)
                if caracteristique_id:
                    # Supprimer le lien entre la personne et cette caract√©ristique
                    cursor = connection.cursor()
                    try:
                        delete_query = """
                        DELETE FROM personnes_caracteristiques 
                        WHERE personne_id = %s AND caracteristique_id = %s
                        """
                        cursor.execute(delete_query, (personne_id, caracteristique_id))
                        connection.commit()
                        print(f"Caract√©ristique '{caracteristique}' supprim√©e pour '{nom_personne}'")
                    except Error as e:
                        print(f"Erreur lors de la suppression de la caract√©ristique: {e}")
                    finally:
                        cursor.close()
                else:
                    print(f"Caract√©ristique '{caracteristique}' non trouv√©e, rien √† supprimer.")
        
        # Ajouter des caract√©ristiques si demand√© avec le param√®tre bool√©en
        if ajouter_caracteristiques:
            for caracteristique in ajouter_caracteristiques:
                # V√©rifier si la caract√©ristique existe d√©j√†
                caracteristique_id = get_caracteristique_id(connection, caracteristique)
                
                # Si elle n'existe pas, l'ajouter
                if not caracteristique_id:
                    insert_caracteristique(connection, caracteristique)
                    caracteristique_id = get_caracteristique_id(connection, caracteristique)
                    if not caracteristique_id:
                        print(f"Erreur lors de l'ajout de la caract√©ristique '{caracteristique}'.")
                        continue
                
                # V√©rifier si le lien existe d√©j√†
                cursor = connection.cursor()
                try:
                    check_query = """
                    SELECT 1 FROM personnes_caracteristiques 
                    WHERE personne_id = %s AND caracteristique_id = %s
                    """
                    cursor.execute(check_query, (personne_id, caracteristique_id))
                    if cursor.fetchone():
                        print(f"La caract√©ristique '{caracteristique}' est d√©j√† associ√©e √† '{nom_personne}'")
                    else:
                        # Cr√©er le lien entre la personne et la caract√©ristique
                        link_person_to_caracteristique(connection, personne_id, caracteristique_id)
                        print(f"Caract√©ristique '{caracteristique}' ajout√©e pour '{nom_personne}'")
                except Error as e:
                    print(f"Erreur lors de la v√©rification du lien: {e}")
                finally:
                    cursor.close()
        
        print(f"Modification des caract√©ristiques pour '{nom_personne}' termin√©e.")
        return True
        
    except Error as e:
        print(f"Erreur lors de la modification des caract√©ristiques: {e}")
        return False

In [43]:
modifier_caracteristiques_personne(conn, "Donald Gennaro", ajouter_caracteristiques=["peureux"], supprimer_caracteristiques=["vieux"])

Caract√©ristique 'vieux' supprim√©e pour 'Donald Gennaro'
Caract√©ristique 'peureux' ajout√©e pour 'Donald Gennaro'
Modification des caract√©ristiques pour 'Donald Gennaro' termin√©e.

True

In [42]:
conn.is_connected()

True